<div class="Faq-info">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1>Preguntas Frecuentes</h1>
        <h3>¿Cómo compartir?</h3>
        <p>Compartir algún contenido en PreFive es muy sencillo, simplemente selecciona el botón compartir en y completa los campos requeridos. En el campo "Materia", ingresa la materia de la cual vas a compartir el contenido. Luego, ingresa en el campo "Profesor", el nombre del profesor con el que cursas o cursaste la materia anteriormente indicada. El siguiente campo es "Calificación", el cual es el campo donde vas a ingresar la calificación que obtuviste por el trabajo que vas a compartir; esta calificación debe estar entre 0 y 5. El campo "Descripción", es opcional y allí puedes dar una alguna descripción en donde explicas de que se trata el trabajo que vas a compartir. Y por último, seleccionas el archivo que quieres compartir. Y listo, así de sencillo es compartir archivos con PreFive.</p>

        <h3>¿Cómo Descargar?</h3>
        <p>Para descargar los archivos compartidos por otros compañeros, debes dar click en el link "Ver", y ahí te muestra todos los datos de la publicación que seleccionaste. En esa misma ventana encuentras la opción de descargar (si es un archivo). En el caso de imagenes, las puedes ver directamente haciendo click sobre ellas para posteriormente descargarlas. </p>

        <h3>¿Cómo Buscar?</h3>
        <p>Para buscar alguna publicación en específico te debes dirigir a la página principal y en el costado izquerdo esta la opción de filtrar la busqueda por materia o profesor. Puedes fltrar por uno o varios campos que te aparecen.</p>
      </div>

    </div>

  </div>

</div>
