<div class="PreFive-info">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1>Qué es Prefive</h1>
        <p class="par1">
          PreFive nace de la necesidad del estudiante por mejorar las alternativas de estudio y crea una plataforma para compartir y descargar material evaluativo de las universidades e instituciones. Ahora definamos PreFive con un tono de voz más juvenil. Somos una comunidad que se ayuda mutuamente  compartiendo el material de las clases que ya vimos para que cada persona que pertenece al grupo pueda utilizarlos y tener unas bases más sólidas a la hora de ir a presentar cada examen. Te invitamos a unirte y compartir la mayor cantidad de material que puedas, seguro encontrarás mucho contenido que te va a servir a ti para mejorar tu aprendizaje y tus notas. Te informamos que esta plataforma es 100% acogida a la ley, debido a que los materiales compartidos son legalmente propiedad del estudiante que los comparte. Por último disfruta de la plataforma totalmente gratis.
          Recuerda que en PreFive Tú compartes, todos aprendemos.
        </p> <br>
      </div>
    </div>
  </div>
</div>
