<div class="PreFive-info">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>Qué es Prefive</h1>
        <p class="par1">No es un secreto que es una gran ventaja tener a un compañero en la universidad o el colegio que ya haya visto las materias que tú estás empezando a ver y que te pase todas esas evaluaciones que él presentó para que logres tener una visión más amplia de cómo va a evaluar el profesor y mejor aún, logres tener unas bases más sólidas para presentar esas evaluaciones. </p> <br>
        <div class="par2">
          <p>Prefive es ese compañero que te brinda toda la información necesaria para facilitar tu estudio y por ende aprobar las materias. Su funcionamiento es muy sencillo, tu como usuario tienes la oportunidad de beneficiarte y beneficiar a otros. Para beneficiarte simplemente basta con buscar en la web de Prefive tu universidad, materia y profesor, posteriormente descargar el material que otros usuarios han compartido para el aprovechamiento de la comunidad. Para beneficiar a otros,  tienes la opción de compartir bajo anonimato o no las diferentes evaluaciones que has presentado a lo largo del semestre o año.</p>
        </div>

      </div>

    </div>

  </div>

</div>
