@import "bootstrap-sprockets";
@import "bootstrap";
@import "posts";
@import "pages";
@import "reviews";

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(134, 54, 142) !important;
}
.navbar {
	img{
		margin-top: -5px;
		height: 30px;
	}
}
.pagination{
  li{
    a{
      color:black;
    }
  }
  .active{
    span{
      background-color: rgb(134, 54, 142) !important;
      border: none !important;
    }
  }
  .next, .prev{
    a{
      color:  rgb(134, 54, 142) !important;
    }
  }
}

@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:inline-block !important;
  }
}
