// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-container{
  .post-images{
    .galery{
      margin: 5px;
      border: 1px solid #ccc;
      float: left;
      &:hover{
        border: 1px solid #777;
      }
    }

  }
}
