// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: #f5f5f2;
  font-size: 16px;
}
.navbar{
  margin-bottom:  0;
}
.general-info{
  margin-top: 20px;
  .post-info{
    p{
      text-align: justify;
    }
    a{
      margin-top: 10px;
    }
  }
  .post-files{
    img.dynamic-image{
      width: 300px;
      height: 300px;
      border-radius: 5px;
    }
    .galery{
      margin: 5px;
      border: 1px solid #ccc;
      float: left;
      &:hover{
        border: 1px solid #86368e;
        box-shadow: 2px 5px 8px  #86368e;
        cursor: pointer;
      }
      img.thumb{
        width: 50px;
        height: 50px;
      }
    }
  }
}
.show-container{
  .doc{
    padding: 30px;
  }
}
table{
  tr{
    &:hover{
      background-color: rgb(240, 240, 240);
    }
  }

  td.actions{
    a{
      padding-left: 16px;
    }
  }
}
